
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
}
.create-button{

	display: flex;
	align-items: center;
	justify-content: center;
    margin: 20px;
	
}

.container {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;

}