
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: "Titillium Web", sans-serif;
}
.create-button{

	display: flex;
	align-items: center;
	justify-content: center;
    margin: 20px;
	
}