.login {
	width: 100%;
	height: 100vh;
	background: linear-gradient(0deg, rgba(11, 93, 11, 1) 0%, rgba(255, 255, 255, 0) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.form-container {
	background-color: white;
	border-radius: 20px;
	padding: 40px;
}

.logo {
	text-align: center;
	margin-bottom: 40px;
}

.form {
	display: flex;
	flex-direction: column;
}

.form a {
	color: var(--hospital-green);
	font-size: var(--sm);
	text-align: center;
	text-decoration: none;
	margin-bottom: 52px;
}

.label {
	font-size: var(--sm);
	font-weight: bold;
	margin-bottom: 4px;
}

.input {
	background-color: var(--text-input-field);
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: var(--md);
	padding: 6px;
	margin-bottom: 12px;
}

.input-email {
	margin-bottom: 22px;
}

.primary-button {
	background-color: #0B5D0B;
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}

.secondary-button {
	background-color: var(--white);
	border-radius: 8px;
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}

.login-button {
	margin-top: 14px;
	margin-bottom: 30px;
}
:root {
	--white: #FFFFFF;
	--black: #000000;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD9B2;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}